html{
    box-sizing: border-box;
}
body{
font-family:'Times New Roman', Times, serif;
line-height: 1.5;
background: white;
color: #323232;
}
img{
    max-width: 100%;
}
a{
    color: #323232;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container{
    max-width: 950px;
    margin: 40px auto;
    text-align:justify;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
section{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgray;
    border-color:khaki;
}

section:last-child{
    border-bottom: none;
}

.section-title{
    font-weight: bold;
    font-size: 18px;
  
}

img{
    width: 200px;
}
.my-name{
    font-size: 30px;
    line-height: 1;
}
.my-title{
    font-size: 20px;
    font-weight: 300;
    color: grey;
}
p1{
text-align:justify;
font-size: 22px;
margin: auto;
}
.link-item{
    display: flex;
    align-items: center;
    flex: 1;
}
.about-me{
    display: inline;
    font-size: 18px;
    margin: 1%;
}
.job{
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgray;
   
}

.job:last-child{
border-bottom: none;

}

.job-title-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}
.job-company{
    font-weight: bold;
    line-height: 1.2;
}

.reference{
    font-size: 18px;
}
@media only screen and (max-width: 768px) {
    section {
        grid-template-columns: 1fr;
    }
}
 .links{
     flex-direction: column;
 }   

